Filebody{
    font-family:Dosis;
    background-color:darkgray;
    color:black}

h1, h2, h3,h4,h5,h6
{font-family: Dosis}
h1 {font-size:30pt;text-align: center; color: black; font-variant: small-caps;}
h2 {font-size:24pt;text-align: center; margin: .25em; font-weight: bolder; color:black;padding: 25px;}
h3 {font-size:24pt;text-align: center;color: black;}
h4 {font-size:18pt;text-align: left;}

h2 {text-align:center margin 1rem}
header {text-align: center;}

#p2 {font-family:Dosis; 
    text-align:left;
    font-size: 12pt;
    font-weight: normal;
    color:maroon}
 
    /*Hero and Footer Section*/

/*Hero Section*/
    #hero
    {flex: auto;
    font-family: Dosis;
    background-color:silver;
    border:5px solid maroon;
    border-style:groove;
    text-align: center;
    padding: 10px;
    font-size:20pt;
    font-variant: small-caps;
    color: black;}
    
    #hero img 
    {width: 500px;
    border-radius: 50%;}


    /*Bio Section*/

    #bio {
        background-color:lightsteelblue;
        border:maroon 5px solid;
        border-style:groove;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align:left;
        font-family: Dosis;
        font-size:14pt;
        font-weight:normal display flex; 
        flex-direction: column; 
        align-items: center;
        margin-bottom:2rem;
        padding: 2rem;
        max-width: 75rem;
        margin: 0 auto;}
        
  
    #li{text-align:center; 
        font-family:Dosis;
        font-weight:normal}


/*Video Section*/
#video
    {flex: auto;
    align-items: center;
    color: maroon;
    font-family: Dosis;
    background-color: silver;
    border:5px solid maroon;
    border-style:groove;
    text-align: center;
    padding: 10px;
    font-size: 18pt;
    font-variant: small-caps;
    }

/*Hobbies Section*//* Three image containers (use 25% for four, and 50% for two, etc) */
#hobbies{
    background-color:black;
    border: 5px solid grey;
    font-family: Dosis;
    align-items: left;
    margin-bottom:2rem;
    
    flex: auto;
        font-family: Dosis;
        background-color:silver;
        border:5px solid maroon;
        border-style:groove;
        text-align: center;
        padding: 10px;
        font-size:16pt;
        font-variant:normal;
        color: black;}
        
#hobbies img {
    width: 300px;
    max-width: 300px;}       

    #hobbies figure { 
        display:grid; 
        padding: 10px;
        font-family: Dosis;
        font-variant: small-caps; 
        align-items: center; 
        grid-template-columns: 3fr 2fr;}
  
    #hobbies img {max-width: 100%;}
    
    #hobbies figure{
        text-align:center}

    #hobbies figure{
            font-family: Dosis;
            text-align:center; 
            font-variant: small-caps; 
            align-items: center;
            display:grid;
            grid-template-columns: 3fr 2fr;}
            
    #hobbies figcaption {
            font-family: Dosis;
            display:flex;
            justify-content: center;
            align-items: center; 
            font-size: 18pt;
            margin-left: 1rem;}
    
    #hobbies p1 {
            font-family: Dosis;
            color:black;
            text-align:left;
            background-color: silver;
            border-color: maroon;
            border-width: 1.5rem;
            display:flex;
            align-content: flex-end left;
            font-size: 1.5rem;
            margin: 2rem}


/*Gallery Section*/

    #gallery{
    background-color:silver;
    border: 5px solid grey;
    font-family: Dosis;
    align-items: center;
    margin-bottom:2rem}

    #gallery img {
        max-width: 100%;
        align-items: center;
    }

    #gallery figure { 
        display:grid;
        grid-template-columns: 2fr 1fr;     
        padding: 10px;
        font-family: Dosis;
        font-variant: small-caps; 
        align-items: center; 
        display:grid;
        grid-template-columns: 2fr 2fr;}
  
    #gallery img{max-width: 100%;}
    
    #gallery figure{
        text-align:center}

    #figure{
        font-family: Dosis;
        text-align:center; 
        font-variant: small-caps; 
        width: 300px;
        align-items: center;
        display:grid;
        grid-template-columns: 2fr 1fr;}
        
    #figcaption {
        font-family: Dosis;
        display:flex;
        justify-content: center;
        align-items: center; 
        font-size: 2rem;
        margin-left: 1rem;}


/*Variable Font Section */  

#varfont{
        background-color:lightsteelblue;
        border: 5px solid maroon;
        padding: 50px;
        text-align: center;
        line-height: 1.5;
        font-family:Dosis; 
        margin-bottom:2rem;
        padding: 2rem;
        max-width: 75rem;
        margin: 0 auto;}

    #varfont p3 {
       font-family: Dosis; 
       font-style: italic;
       word-spacing: 30px;
       font-size: x-large; 
       text-align: center;
       color: black}

       #varfont p4 {
        font-family: Dosis; 
        font-weight: bolder;       
        word-spacing: 30px;
        font-size: x-large; 
        text-align: center;
        color:black}
 
        #varfont p5 {
        font-family: Dosis; 
        font-weight: lighter;
        word-spacing: 30px;
        font-size: x-large; 
        text-align: center;
        color: black}
     
        #varfont p6 {
            font-family: Dosis; 
            font-style: oblique 12deg;
            word-spacing: 30px;
            font-size: x-large; 
            text-align: center;
            color: black}

        #varfont p7 {
            font-family: Dosis; 
            font-optical-sizing: auto;
            word-spacing: 30px;
            font-size: x-large; 
            text-align: center;
            color: black}
            
        #varfont p8 {
            font-family: Dosis; 
            width:1in;
            word-spacing: 30px;
            font-size: x-large; 
            text-align: center;
            color: black}
/*Article Section */  

    #lit article{
        background-color:lightgrey;
        border: 5px solid maroon;
        padding: 50px;
        text-align: left;
        line-height: 1.5;
        font-weight:normal; 
        font-family:Dosis; 
        font: size 2.0rem;
        margin-bottom:2rem;
        }
      
        #lit div{
            padding: 2rem;
            max-width: 40rem;
            margin: 0 auto;
        }

        #lit div p{
            padding: .3rem 0;
            clear: both;
        }


  /*Footer Section*/
  #footer 
  {text-align: center;
  font-family:Dosis;
  background-color: dimgray;
  border:5px solid maroon;
  border-style:groove;
  padding: 10px;
  font-size: 12pt;
  font-variant: small-caps;
  color: silver;}
 


 /*Dropcaps

    #lit div p:first-child:first-letter {
        padding: 2rem 0;
        clear: both;
        max-width: 40rem;
        margin: 0 auto;
        float:.5rem inline-start;
        color: black;
        background-color: darkgoldenrod;
        font-size: 1.5rem;
        padding: .5rem;
        border: 1px outset darkgrey;
        font-family:Dosis;
        font-weight: bolder;
        box-shadow: .5px .5px .5px .5px maroon;
    }*/
           
    /* Contact Form*/
        #formElements{
            font-family:Dosis;
            background-color: silver;
            border: 5px solid maroon;
            display:grid;
            row-gap: .75em;
            font-family:Dosis;
            font-variant: small-caps;
        }
    
        #contact{
            padding: 1.5rem;
            max-width:500px;
            margin: 1.5rem auto;
            font-family:Dosis;
            font-variant: small-caps;
        }

        fieldset{
            font-family:Dosis;
            border: 2px solid maroon;
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 2rem;
            font-variant: small-caps;
        }

    legend{
        background-color: maroon;
        color:silver;
        padding: 0.5rem;
        font-variant: small-caps;
    }

    #contact ul{
        list-style: none;
        padding:0px;
    }
      
    #contact li{
        margin: 1rem;
    }

    #contact button {
        background-color: maroon;
        padding: .5em;
        color:silver;
        border: .25em solid steelblue;
        max-width: 500px;
        font-family: Dosis;
        font-variant: small-caps;
        font-size: larger;
       
    }



/*tablet size*/ 
@media screen and (min-width:60em){
    figure {
    display:grid;
    grid-template-columns: 1fr 2fr;}

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;}}

    figure image {width: 100%;}

   /*larger screen size*/ 
        @media screen and (min-width:100em) {
        #gallery {
        display:grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr}
    
        hr{display:none;}

        #gallery h2 {
        grid-column: 1/-1;}

        figure {display: block;}

        #lit div {
        max-width: 100%;
        columns: 20rem;}
        }
