Filebody{
    font-family:Dosis;
    background-color:darkgray;
    color:black}

h1, h2, h3,h4,h5,h6
{font-family: Dosis}
h1 {font-size:30pt;text-align: center; color: black; font-variant: small-caps;}
h2 {font-size:24pt;text-align: center; margin: .25em; font-weight: bolder; color:black;padding: 25px;}
h3 {font-size:24pt;text-align: center;color: black;}
h4 {font-size:18pt;text-align: left;}
h5 {font-size:24pt;text-align: center;color: whitesmoke;}

header {text-align: center;}

#p2 {font-family:Dosis; 
    text-align:left;
    font-size: 12pt;
    font-weight: normal;
    color:maroon}
 
:root {
    --background:pink;
    place-items: center;}

*, *::before, *::after {
    box-sizing: border-box;
    border: 5;}

/* Navigation Section*/

header{
    background: var(--background);
    font-family: Dosis;
    background-color:yellowgreen;
    border:5px solid maroon;
    border-style:groove;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;}

    .nav-toggle {
        display: none; }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        border: 2px soid aqua;
        height: 100%;
        display: flex;
        align-items: center;}

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: blue;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position:relative;}

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;}

    .nav-toggle-label span::before {
        bottom: 7px;}

    .nav-toggle-label span::after {
           top: 7px;}

    nav{
    position: absolute;
    font-family: Dosis;
    color: black;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    display: none;}

    nav ul{
        font-family: Dosis;
        color: black;margin: 0;
        padding: 0;
        list-style: none;}
    nav li {
        font-family: Dosis;
        color: black;margin-bottom: 1em;
        margin-left: 1em; }

    nav a {
        font-family: Dosis;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in}
    
    nav a:hover {
        font-family: Dosis;
        color:whitesmoke }
    
    .nav-toggle:checked ~ nav {
        display: block;}

    







    

/*Hero and Footer Section*/

/*Hero Section*/
    #hero{
        flex: auto;
        font-family: Dosis;
        background-color:silver;
        border:5px solid maroon;
        border-style:groove;
        text-align: center;
        padding: 5px;
        font-size:20pt;
        font-variant: small-caps;
        color: black;
        padding: 10px;}
    
    #hero img{
        border-radius: 50%;
        max-width: 200px;}
    
    #hero p{font-size: larger;}
  

/*Bio Section*/
    #bio {
        background-color:lightsteelblue;
        border:maroon 5px solid;
        border-style:groove;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align:left;
        font-family: Dosis;
        font-size:14pt;
        font-weight:normal display flex; 
        flex-direction: column; 
        align-items: center;
        margin-bottom:2rem;
        padding: 10px;
        margin: 0 auto;}
        
  
    #li{text-align:center; 
        font-family:Dosis;
        font-weight:normal}


/*Gallery Section*/

    #gallery {
        background-color:silver;
        border: 5px solid maroon;
        font-family: Dosis;
        color: black;
        align-items: center;
        margin-top: 2rem;
        margin-bottom:2rem;
        float:none;
        text-align: center;
        padding: 10px;
        font-size: 24pt;
        color: darkslategray;
        font-variant: small-caps;}

    #gallery img {
        max-width: 100%;
        align-items: center; }

    #gallery figure { 
        display:grid;
        grid-template-columns: 2fr 1fr;     
        padding: 10px;
        font-family: Dosis; 
        font-size: x-large;
        align-items: center; 
        display:grid;
        grid-template-columns: 2fr 2fr;}
  

    #gallery figure{
        text-align:center}

    #figure{
        font-family: Dosis;
        text-align:center; 
        font-variant: small-caps; 
        width: 300px;
        align-items: center;
        font-size: x-large;
        display:grid;
        grid-template-columns: 2fr 2fr;}
        
    #figcaption {
        font-family: Dosis;
        color: black;
        display:flex;
        justify-content: center;
        align-items: center; 
        font-size: 2rem;
        margin-left: 1rem;}

       
        
/*My Hobbies Section*/

    #myhobbies {
        background-color:lightsteelblue;
        border: 5px solid maroon;
        font-family: Dosis;
        color: black;
        align-items: center;
        font-size: x-large;
        margin-top: 2rem;
        margin-bottom:2rem;
        object-fit: scale-down;}

        .hide {
          display: none;
        }
            
        .myDIV:hover + .hide {
          display: block;
          background-color:silver;
          font-size: 16pt;
          font-style: italic;
          color: black;
          border: 2px solid rgb(143, 33, 70);
          text-align: left;
          align-self: center;}

          div.gallery {
            border: 1px solid #ccc;
          }
          
          div.gallery:hover {
            border: 2px solid rgb(143, 33, 70);
          }
          
          div.gallery img {
            width: 100%;
            height: auto;}
          
          div.desc {
            padding: 15px;
            text-align: center;}
          
          * {
            box-sizing: border-box;}
          
          .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;}
          
          @media only screen and (max-width: 700px) {
            .responsive {
              width: 49.99999%;
              margin: 6px 0; }
          }
          
          @media only screen and (max-width: 500px) {
            .responsive {
              width: 100%; }
          }
          
          .clearfix:after {
            content: "";
            display: table;
            clear: both; }




















/*Video Section*/
    #video {
        flex: auto;
        align-items: center;
        font-family: Dosis;
        background-color: silver;
        border:5px solid maroon;
        text-align: center;
        padding: 10px;
            font-size: 18pt;
        font-variant: small-caps;}

        .box{
        float:none;
        margin: 20px;}

        .box { display:inline-block; }

        .clear{
        clear:both;}
    
        .h4 {color: black;}


/*Image Hover Effect Section */  

    #ImageHover{
        flex-direction: row;
        background-color:black;
        border: 5px solid maroon;
        padding: 50px;
        text-align: center;
        color:whitesmoke;
        line-height: 1.5;
        font-family:Dosis; 
        color: whitesmoke;
        align-self: center;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom:2rem;}
    
         a:hover {
            background-color:whitesmoke}

               .color img{
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                -webkit-transition: all 1s ease;}
                
                .color img:hover{
                filter: grayscale(0%);
                filter: gray;
                -webkit-filter: grayscale(0%);
                filter: none;
                transition: 1s ease; }


/*Article Section */  

    #lit article{
        flex-direction: column;
        background-color:lightgrey;
        border: 5px solid maroon;
        padding: 50px;
        text-align: left;
        font-family:Dosis;
        color:black;
        font-size: larger; 
        font: size 2.0rem;
        margin-bottom:2rem; }
      
    #lit div{
            padding: 2rem;
            max-width: 40rem;
            margin: 0 auto;}

    #lit div p{
            padding: .3rem 0;
            clear: both;}
        
    #lit f1 {font-weight: 100;}
    #lit f5 {font-weight: 500;}
    #lit f9 {font-weight: 900;}
    #lit fit {font-style: italic;}
    #lit str {font-stretch:wider;}
    #lit str1 {font-stretch:ultra-expanded;}
    #lit slant {font-style:oblique}


    #lit p3 {
        font-family: Dosis; 
        text-decoration:underline;
        font-style: italic;
        font-size: x-large; 
        text-align: center;
        color: black}
     
    #lit p4 {
        font-family: Dosis; 
        text-decoration:underline;
        font-weight: bolder;       
        font-size: x-large; 
        text-align: center;
        color:black}
      
    #lit p5 {
        font-family: Dosis; 
        text-decoration:underline;
        font-weight: lighter;
        font-size: x-large; 
        text-align: center;
        color: black}
          
    #lit  p6 {
        font-family: Dosis; 
        text-decoration:underline;
        transform: rotate(-45 deg);
        font-size: x-large; 
        text-align: center;
        color: black}
     
    #lit p7 {
        font-family: Dosis; 
        text-decoration:underline;
        font-optical-sizing: auto;
        font-size: x-large; 
        text-align: center;
        color: black}
                 
    #lit p8 {
        font-family: Dosis; 
        font-stretch: extra-expanded;
        text-decoration:underline;
        font-size: x-large; 
        text-align: center;
        color: black}

        
/*Footer Section*/
    #footer 
        {text-align: center;
        font-family:Dosis;
        background-color: dimgray;
        border:5px solid maroon;
        border-style:groove;
        padding: 10px;
        font-size: 12pt;
        font-variant: small-caps;
        color: silver;}
 

/* Contact Form*/
    #formElements{
        font-family:Dosis;
        background-color: silver;
        border: 5px solid maroon;
        display:grid;
        row-gap: .75em;
        font-family:Dosis;
        font-variant: small-caps;}
    
    #contact{
        padding: 1.5rem;
        max-width:500px;
        margin: 1.5rem auto;
        font-family:Dosis;
        font-variant: small-caps;}

    fieldset{
        font-family:Dosis;
        border: 2px solid maroon;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 2rem;
        font-variant: small-caps;}

    legend{
        background-color: maroon;
        color:silver;
        padding: 0.5rem;
        font-variant: small-caps;}

    #contact ul{
        list-style: none;
        padding:0px;}
      
    #contact li{
        margin: 1rem;}

    #contact button {
        background-color: maroon;
        padding: .5em;
        color:silver;
        border: .25em solid steelblue;
        max-width: 500px;
        font-family: Dosis;
        font-variant: small-caps;
        font-size: larger; }



/*tablet size*/ 
    @media screen and (min-width:60em){
    figure {
    display:grid;
    grid-template-columns: 1fr 2fr;}

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;}}

    figure image {width: 100%;}

/*larger screen size*/ 
    @media screen and (min-width:100em) {
        #gallery {
        display:grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr}
    
        hr{display:none;}

        #gallery h2 {
        grid-column: 1/-1;}

        figure {display: block;}

        #lit div {
        max-width: 100%;
        columns: 20rem;}
        }




         /*Dropcaps

    #lit div p:first-child:first-letter {
        padding: 2rem 0;
        clear: both;
        max-width: 40rem;
        margin: 0 auto;
        float:.5rem inline-start;
        color: black;
        background-color: darkgoldenrod;
        font-size: 1.5rem;
        padding: .5rem;
        border: 1px outset darkgrey;
        font-family:Dosis;
        font-weight: bolder;
        box-shadow: .5px .5px .5px .5px maroon;
    }*/
           