body {
    font-family:Dosis;
    background-color:darkgray;
    color:black;
    padding: 2em;
align-items: center;}
    
h1, h2, h3,h4,h5,h6
{font-family: Dosis}
h1 {font-size:30pt;text-align: center; color: black; font-variant: small-caps;}
h2 {font-size:24pt;text-align: center; margin: .25em; font-weight: bolder; color:black;padding: 25px;}
h3 {font-size:24pt;text-align: center;color: black;}
h4 {font-size:18pt;text-align: left;}
h5 {font-size:18pt;text-align: center;color: maroon;}

header {text-align: center;}

#mylogo {
    background:darkgray;
    padding-top: 5rem;
    text-align: center;}
   
#mylogo h1 {
    font-family:Dosis;
    color:darkblue;
    font-size: xx-large;}

#mylogo img {
    border-radius: 5%;
    max-width: 200px;}


*, *::before, *::after {
     box-sizing: border-box;}
        
/*Navigation Section */


header{
    font-family: Dosis;
    background-color:whitesmoke;
    border:5px solid black;
    font-weight: bolder;
    border-radius: 5em;
    text-align: center;
    position: fixed;
    width: 90%;
    z-index:1;}


    nav {
        position:fixed;
        font-family: Dosis;
        color: black;
        text-align: left;
        top: 100%;
        left: 0;
        background: maroon;
        width: 100%;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;}


    .nav-toggle {
    display: none;}

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        border: 2px solid maroon;
        height: 100%;
        display: flex;
        align-items: center;}

   
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: whitesmoke;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position:relative;}

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;}

    .nav-toggle-label span::before {
        bottom: 7px;}

    .nav-toggle-label span::after {
           top: 7px;}
   
    nav ul{
        font-family: Dosis;
        color: black;
        margin: 0;
        padding: 0;
        list-style: none;}

    nav li {
        font-family: Dosis;
        color: black;
        margin-bottom: 1em;
        margin-left: 1em; }

    nav a {
        font-family: Dosis;
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;}
        
    nav a:hover {
        font-family: Dosis;
        color:maroon;}
         
    .nav-toggle:checked ~ nav {
        transform: scale(1,1);}

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms; }

     

#p2 {font-family:Dosis; 
    text-align:left;
    font-size: 12pt;
    font-weight: normal;
    color:maroon}
 


/*Hero and Footer Section*/

/*Hero Section*/
    #hero{
        flex: auto;
        font-family: Dosis;
        background-color:silver;
        border: 5px solid maroon;
        text-align: center;
        font-size:20pt;
        font-variant: small-caps;
        color: black;
        padding: 10px;
        margin: 2rem
        z-index auto;}
    
    #hero img{
        border-radius: 50%;
        max-width: 200px;}
    
    #hero p{font-size: larger;}
  

/*Bio Section*/
    #bio {
        background-color:lightsteelblue;
        border:maroon 5px solid;
        text-align:left;
        font-family: Dosis;
        font-size:14pt;
        font-weight:normal display flex; 
        flex-direction: column; 
        align-items: center;
        margin-bottom:2rem;
        margin-top:2rem;
        padding: 10px;
 
        z-index: 2;}
    
    #bio {    
        display: flex; 
        flex-direction: column; 
        align-items: center;}

    #li{text-align:center; 
        font-family:Dosis;
        font-weight:normal}


/*Gallery Section*/

    #gallery {
        background-color:silver;
        border: 5px solid maroon;
        font-family: Dosis;
        color: black;
        align-items: center;
        margin-top: 2rem;
        margin-bottom:2rem;
        float:none;
        text-align: center;
        padding: 10px;
        font-size: 24pt;
        color: darkslategray;
        font-variant: small-caps;
        z-index: 999;}

    #gallery img {
        max-width: 100%;
        align-items: center; }

    #gallery figure { 
        display:grid;
        grid-template-columns: 2fr 1fr;     
        padding: 10px;
        font-family: Dosis; 
        font-size: x-large;
        align-items: center; 
        display:grid;
        grid-template-columns: 2fr 2fr;}
  

    #gallery figure{
        text-align:center}

    #figure{
        font-family: Dosis;
        text-align:center; 
        font-variant: small-caps; 
        width: 300px;
        align-items: center;
        font-size: x-large;
        display:grid;
        grid-template-columns: 2fr 2fr;}
        
    #figcaption {
        font-family: Dosis;
        color: black;
        display:flex;
        justify-content: center;
        align-items: center; 
        font-size: 2rem;
        margin-left: 1rem;}

       
        
/*My Hobbies Section*/

    #myhobbies {
        background-color:lightsteelblue;
        border: 5px solid maroon;
        font-family: Dosis;
        color: black;
        align-items: center;
        font-size: x-large;
        margin-top: 2rem;
        margin-bottom:2rem;
        object-fit: scale-down;
        z-index: auto;}

        .hide {
          display: none;
        }
            
        .myDIV:hover + .hide {
          display: block;
          background-color:steelblue;
          font-size: 14pt;
          font-style: italic;
          color: black;
          border: 2px solid rgb(143, 33, 70);
          text-align: left;
          align-self: center;}

          div.gallery {
            border: 1px solid #ccc;
          }
          
          div.gallery:hover {
            border: 2px solid rgb(143, 33, 70); }
          
          div.gallery img {
            width: 100%;
            height: auto;}
          
          div.desc {
            padding: 15px;
            text-align: center;}
          
          * {
            box-sizing: border-box;}
          
          .responsive {
            background-color: steelblue;
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 6px;
            padding-right: 6px;
            float: left;
            width: 24.99999%;}
          
          @media only screen and (max-width: 700px) {
            .responsive {
              width: 49.99999%;
              margin: 6px 0; } }
          
          @media only screen and (max-width: 500px) {
            .responsive {
              width: 100%; }  }
          
          .clearfix:after {
            content: "";
            display: table;
            clear: both; }



/*Video Section*/
    #video {
        flex: auto;
        align-items: center;
        font-family: Dosis;
        background-color: silver;
        border:5px solid maroon;
        text-align: center;
        padding: 10px;
        font-size: 18pt;
        font-variant: small-caps;}

        .box{
        float:none;
        margin: 20px;}

        .box { display:inline-block; }

        .clear{
        clear:both;}
    
        .h4 {color: black;}
    
    #video {    
            display: flex; 
            flex-direction: column; 
            align-items: center;}

/*Image Hover Effect Section */  

    #hover{
            flex: auto;
            max-width: 50em;
            align-items: center;
            font-family: Dosis;
            background-color: silver;
            border:5px solid maroon;
            text-align: center;
            padding: 10px;
            font-size: 18pt;
            margin-top: 2rem;
            margin-bottom:2rem;  
            object-fit: contain;}


          @media only screen and (max-width: 700px) {
            .responsive {
              width: 49.99999%;
              margin: 6px 0; } }
          
          @media only screen and (max-width: 500px) {
            .responsive {
              width: 100%; }  }
          
          .clearfix:after {
            content: "";
            display: table;
            clear: both; }

       /* flex: auto;
        align-items: center;
        font-family: Dosis;
        background-color: pink;
        border: 5px solid maroon;
        padding: 4em;
        text-align: center;
        color:whitesmoke;
        line-height: 1.5;
        font-family:Dosis; 
        align-self: center;
        padding: 10px;
        margin-top: 2em;
        margin-bottom:2rem;
        max-width: 50em;
        object-fit: contain;
    
        display: flex; 
        flex-direction: column; 
        align-items: center;}*/

  
         a:hover {
            background-color:whitesmoke}

               .color img{
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
                transition: all 1s ease;}
                
                .color img:hover{
                filter: grayscale(0%);
                filter: gray;
                -webkit-filter: grayscale(0%);
                filter: none;
                transition: 1s ease; }
                
    #hover{    
            display: flex; 
            flex-direction: column; 
            align-items: center;
            max-width: 100%;}
            
            .color{
                float:none;
                margin: 20px;}
       
        
            .clear{
                clear:both;}




/*Article Section */  

    #lit article{
        flex-direction: column;
        background-color:darkgoldenrod;
        border: 5px solid maroon;
        padding: 25px;
        text-align: left;
        font-family:Dosis;
        color:black;
        font-size: larger; 
        font: size 2.0rem;
        margin-bottom:2rem; }
      
    #lit div{
            padding: 2rem;
            max-width: 40rem;
            margin: 0 auto;}

            #lit div p{
                padding: .3rem 0;
                clear: both;}
        
    #lit f1 {font-weight: 100;}
    #lit f5 {font-weight: 500;}
    #lit f9 {font-weight: 900;}
    #lit fit {font-style: italic;}
    #lit str {font-stretch:wider;}
    #lit str1 {font-stretch:ultra-expanded;}
    #lit slant {font-style:oblique}
    
    
    #lit h1 {
        font-family: Dosis;
        color: darkred}

    #lit p3 {
        font-family: Dosis; 
        text-decoration:underline;
        font-style: italic;
        font-size: x-large; 
        text-align: center;
        color: whitesmoke}
     
    #lit p4 {
        font-family: Dosis; 
        text-decoration:underline;
        font-weight: bolder;       
        font-size: x-large; 
        text-align: center;
        color:whitesmoke}
      
    #lit p5 {
        font-family: Dosis; 
        text-decoration:underline;
        font-weight: lighter;
        font-size: x-large; 
        text-align: center;
        color: whitesmoke}
          
    #lit p6 {
        font-family: Dosis; 
        text-decoration:underline;
        transform: rotate(-45 deg);
        font-size: x-large; 
        text-align: center;
        color: whitesmoke;}
     
    #lit p7 {
        font-family: Dosis; 
        text-decoration:underline;
        font-optical-sizing: auto;
        font-size: x-large; 
        text-align: center;
        color: whitesmoke;}
                 
    #lit p8 {
        font-family: Dosis; 
        font-stretch: extra-expanded;
        text-decoration:underline;
        font-size: x-large; 
        text-align: center;
        color: whitesmoke;}

        
/*Footer Section*/
    #footer 
        {text-align: center;
        font-family:Dosis;
        background-color: dimgray;
        border:5px solid maroon;
        border-style:groove;
        padding: 10px;
        font-size: 12pt;
        font-variant: small-caps;
        color: silver;}
 

/* Contact Form*/
    #formElements{
        font-family:Dosis;
        background-color: silver;
        border: 5px solid maroon;
        display:grid;
        row-gap: .75em;
        font-family:Dosis;
        font-variant: small-caps;}
    
    #contact{
        padding: 1.5rem;
        max-width:fit-content 30em;
        margin: 1.5rem auto;
        font-family:Dosis;
        font-variant: small-caps;}

    fieldset{
        font-family:Dosis;
        border: .5em solid maroon;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 2rem;
        font-variant: small-caps;}

    legend{
        background-color: maroon;
        color:silver;
        padding: 0.5rem;
        font-variant: small-caps;}

    #contact ul{
        list-style: none;
        padding: 0.5em;}
      
    #contact li{
        margin: 1rem;}

    #contact button {
        background-color: maroon;
        padding: .5em;
        color:silver;
        border: .25em solid steelblue;
        max-width: 30em;
        font-family: Dosis;
        font-variant: small-caps;
        font-size: larger; }


/*Media Responsive Nav Bar*/
    @media screen and (min-width:40em){
            .nav-toggle-label {
               display: none;}   
   
           header {
               display: grid;
               grid-template-columns: 1fr auto minmax(600px,3fr) 1fr; }
           .mylogo {
               grid-column: 2 / 3; }
           nav {
               all: unset;
               grid-column: 3 / 4;
               display: flex;
               justify-content: flex-end;
               align-items: center; }
     
           nav ul {
               display: flex; }
   
           nav li {
               margin-left: 3em;
               margin-bottom: 0;}
   
           nav a {
               opacity: 1;
               position:relative; }
   
           nav a::before {
               content: '';
               display: block;
               height: 5px;
               background: black;
               position: absolute;
               top: -.75em;
               left: 0;
               right: 0;
               transform: scale(0, 1);
               transition: transform ease-in-out 250ms;}
           nav a:hover {
               transform: scale(1,  1);}
       }
   

/*Tablet size*/ 
    @media screen and (min-width:60em){
    figure, image{
    display:grid;
    grid-template-columns: 1fr 2fr;}

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;}}

    figure image {width:fit-content;}

    

/*Larger screen size*/ 
    @media screen and (min-width:100em) {
        #gallery, #ImageHover {
        display:grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr}
    
        hr{display:none;}

        #gallery h2 {
        grid-column: 1/-1;}

        figure {display: block;}
 
       #lit div {
        max-width: 100%;
        columns: 20rem;}
        }


           